<mat-card>
  <mat-card-title>
    Novo Produto
  </mat-card-title>
  <form action="">
    <mat-form-field>
      <input type="text" matInput placeholder="Nome" autocomplete="false"
      [(ngModel)]="product.name" name="name">
    </mat-form-field>
    <mat-form-field>
      <input type="number" matInput placeholder="Price (R$)" autocomplete="false"
      [(ngModel)]="product.price" name="price">
    </mat-form-field>
  </form>
  <button mat-raised-button color="primary" (click)="createProduct()">
    Salvar
  </button>
  <button mat-raised-button (click)="cancel()">
    Cancelar
  </button>
</mat-card>