<mat-card>
  <mat-card-title>
    Excluir Produto
  </mat-card-title>
  <form action="">
    <mat-form-field>
      <input type="text" matInput placeholder="Nome" autocomplete="false" disabled
      [value]="product.name" name="name">
    </mat-form-field>
    <mat-form-field>
      <input type="number" matInput placeholder="Price (R$)" autocomplete="false" disabled
      [value]="product.price" name="price">
    </mat-form-field>
  </form>
  <button mat-raised-button color="warn" (click)="deleteProduct()">
    Excluir
  </button>
  <button mat-raised-button (click)="cancel()">
    Cancelar
  </button>
</mat-card>